app/logs
app/cache
app/bootstrap.php.cache
app/check.php
app/SymfonyRequirements.php
web/bundles
src/Graviton/I18nBundle/Resources/translations/*.odm
vendor/
*.phar
*.swp
*.swo
.*~
.buildpath
.settings/*
.idea
web/.htaccess
mongodata/
src/GravitonDyn/*
