app/logs
app/cache
app/bootstrap.php.cache
app/check.php
app/SymfonyRequirements.php
web/bundles
web/swagger.json
src/Graviton/I18nBundle/Resources/translations/*.odm
vendor/
*.phar
*.swp
*.swo
.*~
.buildpath
.settings/*
.idea
.project
web/.htaccess
web/explorer
mongodata/
src/GravitonDyn/*
app/config/parameters_local.xml
bin
