language: php
sudo: required
dist: bionic
cache:
  directories:
    - $HOME/.composer
services:
  - docker
before_script:
  - free -m
  - php -m
  - php -i
  # disable mongodb connectivity for non integration testing
  - >
      if [ "$PHPUNIT_SUITE" != "integration" ]; then
          export MONGODB_URI=mongodb://does.not.exist.example.org:443
      fi
  # disable xdebug for integration tests
  - >
      if [ "$PHPUNIT_SUITE" != "unit" ]; then
          phpenv config-rm xdebug.ini
      fi
  # spin up local mongodb with the version we need (only for integration testing)
  - >
      if [ "$COMPOSER_CHECK" = "false" ]; then
          docker pull mongo:$MONGODB_VERSION && \
          docker run -d -p 127.0.0.1:27017:27017 mongo:$MONGODB_VERSION && \
          sleep 2 && \
          docker ps && \
          pecl channel-update pecl.php.net && \
          sleep 5 && \
          printf "\n" | pecl install -f mongodb-$EXTMONGODB_VERSION && \
          echo "memory_limit=3G" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini && \
          php -i | grep -A 4 mongo && \
          composer update --no-interaction --no-scripts mongodb/mongodb;
      fi
  - >
      if [ "$COMPOSER_CHECK" = "true" ]; then
          composer install --ignore-platform-reqs --no-interaction --no-scripts;
      fi
php:
  - 7.3
  - 7.4
env:
  matrix:
    - COMPOSER_CHECK=false PHPUNIT_SUITE=integration MONGODB_VERSION=4-bionic EXTMONGODB_VERSION=1.6.1
    - COMPOSER_CHECK=true
    - COMPOSER_CHECK=false PHPUNIT_SUITE=unit MONGODB_VERSION=4-bionic EXTMONGODB_VERSION=1.6.1
matrix:
  exclude:
    # skip composer checks on all others than 7.3
    - php: 7.4
      env: COMPOSER_CHECK=true
  allow_failures:
    - php: 7.4
script:
  - >
      if [ "$COMPOSER_CHECK" = "false" ]; then
          bash prepare-for-tests.sh && \
          if [ "$PHPUNIT_SUITE" == "unit" ]; then
            COVERAGE=" --coverage-clover=coverage.clover "
          fi && \
          vendor/bin/phpunit $COVERAGE --testsuite=$PHPUNIT_SUITE && \
          if [ $COVERAGE ]; then
            wget https://scrutinizer-ci.com/ocular.phar && \
            php ocular.phar code-coverage:upload --format=php-clover coverage.clover;
          fi
      fi
  - >
      if [ "$COMPOSER_CHECK" = "true" ]; then
          composer check;
      fi
