language: php
sudo: required
cache:
  directories:
    - $HOME/.composer
services:
  - docker
  - rabbitmq
before_script:
  - free -m
  # disable mongodb connectivity for non integration testing
  - >
      if [ "$PHPUNIT_SUITE" != "integration" ]; then
          export MONGODB_URI=mongodb://does.not.exist.example.org:443
      fi
  # disable xdebug for integration tests
  - >
      if [ "$PHPUNIT_SUITE" != "unit" ]; then
          phpenv config-rm xdebug.ini
      fi
  # spin up local mongodb with the version we need
  - >
      if [ "$PHPUNIT_SUITE" = "integration" ]; then
          MONGODB_VERSION=3.4.9
          docker pull mongo:${MONGODB_VERSION}
          docker run -d -p 127.0.0.1:27017:27017 mongo:${MONGODB_VERSION} --smallfiles
      fi
  # see what mongo module we need
  - >
      if [ $(phpenv version-name) = "5.6" ]; then
          MONGO_MODULE=mongo-1.6.16
      fi
  - >
      if [ $(phpenv version-name) = "7.0" ] || [ $(phpenv version-name) = "7.1" ] || [ $(phpenv version-name) = "7.2" ] ; then
          MONGO_MODULE=mongodb-1.2.11
      fi
  # install the module
  - pecl channel-update pecl.php.net
  - sleep 5
  - printf "\n" | pecl install -f ${MONGO_MODULE}
  # memory_limit
  - echo "memory_limit=3G"  >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini;
  - php -i | grep -A 4 mongo
  - php -i
  # install our deps
  - composer install --no-interaction  --ignore-platform-reqs --no-scripts --profile --apcu-autoloader
php:
  - 7.2
  - 7.1
  - 7.0
  - 5.6
env:
  matrix:
    - COMPOSER_CHECK=false PHPUNIT=true PHPUNIT_SUITE=integration
    - COMPOSER_CHECK=true PHPUNIT=false
    - COMPOSER_CHECK=false PHPUNIT=true PHPUNIT_SUITE=unit
matrix:
  allow_failures:
    - php: 7.2
  exclude:
    - php: 7.2
      env: COMPOSER_CHECK=true PHPUNIT=false
    - php: 7.0
      env: COMPOSER_CHECK=true PHPUNIT=false
    - php: 5.6
      env: COMPOSER_CHECK=true PHPUNIT=false
script:
  - >
      if [ "$PHPUNIT" = "true" ]; then
          composer run-script post-install-cmd && \
          touch src/Graviton/I18nBundle/Resources/translations/i18n.de.odm && \
          touch src/Graviton/I18nBundle/Resources/translations/i18n.es.odm && \
          if [ "$PHPUNIT_SUITE" == "integration" ]; then
              php app/console graviton:generate:build-indexes
          fi && \
          if [ "$PHPUNIT_SUITE" == "unit" ]; then
            COVERAGE=" --coverage-clover=coverage.clover "
          fi && \
          vendor/bin/phpunit $COVERAGE --testsuite=$PHPUNIT_SUITE && \
          if [ $COVERAGE ]; then
            wget https://scrutinizer-ci.com/ocular.phar
            php ocular.phar code-coverage:upload --format=php-clover coverage.clover;
          fi
      fi
  - >
      if [ "$COMPOSER_CHECK" = "true" ]; then
          composer check;
      fi
