<?xml version="1.0" encoding="UTF-8"?>
<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false"
    syntaxCheck                 = "false"
    bootstrap                   = "app/bootstrap.tests.php" >
  <testsuites>
    <testsuite name="integration">
      <directory>src/*/*Bundle/Tests/Controller</directory>
      <directory>src/*/Bundle/*Bundle/Tests/Controller</directory>
      <directory>src/Graviton/SecurityBundle/Tests/Authentication/Strategies</directory>
      <file>src/Graviton/FileBundle/Tests/FileManagerTest.php</file>
      <file>src/Graviton/CoreBundle/Tests/Services/CoreVersionUtilsTest.php</file>
      <file>src/Graviton/CoreBundle/Tests/Services/ReadOnlyServiceTest.php</file>
      <file>src/Graviton/CoreBundle/Tests/Services/JsonExceptionListerTest.php</file>
      <file>src/Graviton/GeneratorBundle/Tests/Command/GenerateBuildIndexesCommandTest.php</file>
      <file>src/Graviton/AnalyticsBundle/Tests/Model/AnalyticModelTest.php</file>
      <exclude>src/Graviton/CoreBundle/Tests/Services/ReadOnlyFieldTest.php</exclude>
    </testsuite>
    <testsuite name="unit">
      <directory>src/*/*Bundle/Tests</directory>
      <directory>src/*/Bundle/*Bundle/Tests</directory>
      <exclude>src/*/*Bundle/Tests/Controller</exclude>>
      <exclude>src/*/Bundle/*Bundle/Tests/Controller</exclude>
      <exclude>src/Graviton/SecurityBundle/Tests/Authentication/Strategies</exclude>
      <exclude>src/Graviton/FileBundle/Tests/FileManagerTest.php</exclude>
      <exclude>src/Graviton/CoreBundle/Tests/Services/CoreVersionUtilsTest.php</exclude>
      <exclude>src/Graviton/CoreBundle/Tests/Services/ReadOnlyServiceTest.php</exclude>
      <exclude>src/Graviton/CoreBundle/Tests/Services/JsonExceptionListerTest.php</exclude>
      <exclude>src/Graviton/CoreBundle/Tests/Services/ReadOnlyFieldTest.php</exclude>
      <exclude>src/Graviton/GeneratorBundle/Tests/Command/GenerateBuildIndexesCommandTest.php</exclude>
      <exclude>src/Graviton/AnalyticsBundle/Tests/Model/AnalyticModelTest.php</exclude>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory>src</directory>
      <exclude>
        <directory>src/*/*Bundle/Tests</directory>
        <directory>src/*/*Bundle/*Bundle/Tests</directory>
        <directory>src/*/*Bundle/Resources</directory>
        <directory>src/*/Bundle/*Bundle/Resources</directory>
        <directory>src/*/Bundle/DependencyInjection</directory>
        <directory>src/GravitonDyn</directory>
      </exclude>
    </whitelist>
  </filter>
  <php>
    <ini name="error_reporting" value="E_ALL"/>
    <ini name="date.timezone" value="UTC"/>
    <ini name="xdebug.max_nesting_level" value="200"/>
    <ini name="memory_limit" value="-1"/>
    <env name="BOOTSTRAP_CLEAR_CACHE_ENV" value="test"/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
  </php>
  <listeners>
    <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener" />
  </listeners>
</phpunit>
