<?xml version="1.0" encoding="UTF-8"?>
<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" colors="true" processIsolation="false" stopOnFailure="false" bootstrap="app/bootstrap.tests.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <testsuites>
    <testsuite name="all">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="E_ALL"/>
    <ini name="date.timezone" value="UTC"/>
    <ini name="xdebug.max_nesting_level" value="200"/>
    <ini name="memory_limit" value="-1"/>
    <!--<env name="BOOTSTRAP_CLEAR_CACHE_ENV" value="test"/>-->
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[total]=999999"/>
  </php>
  <coverage includeUncoveredFiles="false"
            pathCoverage="false"
            ignoreDeprecatedCodeUnits="true"
            disableCodeCoverageIgnore="false">
  </coverage>
  <source>
    <include>
      <directory>src/Graviton/**</directory>
    </include>
    <exclude>
      <!-- no need to try to bump up coverage of GeneratorBundle -->
      <directory>src/Graviton/GeneratorBundle/**</directory>
      <directory>src/Graviton/GeneratorBundle/*</directory>
      <directory>**/Exception/**</directory>
      <directory>**/Composer/**</directory>
      <directory>**/Resources/**</directory>
      <directory suffix="Bundle.php">src/Graviton/**</directory>
    </exclude>
  </source>
</phpunit>
