graviton_analytics_homepage:
    path:     /
    methods: [GET]
    defaults: { _controller: graviton.analytics.defaut_controller:indexAction }

graviton_analytics_options:
    path:     /{req}
    methods: [OPTIONS]
    defaults: { _controller: graviton.analytics.defaut_controller:optionsAction }
    requirements:
        req: ".+"

graviton_analytics_service:
    path:     /{service}
    methods: [GET]
    requirements:
        service: "[A-Za-z0-9_-]+"
    defaults: { _controller: graviton.analytics.defaut_controller:serviceAction }

graviton_analytics_service_schema:
    path:     /schema/{service}
    methods: [GET]
    requirements:
        service: "[A-Za-z0-9_-]+"
    defaults: { _controller: graviton.analytics.defaut_controller:serviceSchemaAction }
