<?xml version="1.0" encoding="UTF-8"?>
<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
  <imports>
    <import resource="parameters.xml"/>
    <import resource="parameters_local.xml"/>
    <import resource="security.xml"/>
    <!-- I'm not sure why this is needed, please remove it if you figure out how to load this properly -->
    <!-- This originally came from config_test.xml but it is now here to make php app/console not fail in all cases -->
    <!-- Feel free to clean this mess up ;) -->
    <import resource="../../vendor/symfony/symfony/src/Symfony/Bundle/FrameworkBundle/Resources/config/test.xml"/>
  </imports>
</container>
