imports:
    - { resource: parameters.yml }
    - { resource: services.yml }

parameters:
    jms_serializer.camel_case_naming_strategy.class: JMS\Serializer\Naming\IdenticalPropertyNamingStrategy
    graviton.translator.default.locale: en
    graviton.doctrine.cache.provider.service_id: "%graviton.cache.provider.service_id%"

# Synfony Framework Configuation
# see http://symfony.com/doc/current/reference/configuration/framework.html
framework:
    #esi:             ~
    translator:      { fallback: "%graviton.translator.default.locale%" }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            true
    csrf_protection: false
    validation:
        enabled:              true
        enable_annotations:   false

    templating:
        engines: ['twig']
        #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trusted_hosts:   ~
    session:
        name: graviton
        # handler_id set to null will use default session handler from php.ini
        handler_id:  ~
    fragments:       ~
#    http_method_override: true

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"

# doctrine cache configuration
doctrine_cache:
    providers:
        local:
            file_system:
                directory: "%kernel.cache_dir%/doctrine_cache"
        array:
            array:
        redis:
            redis:
                database: 2
                host: "%graviton.cache.redis.host%"
                port: "%graviton.cache.redis.port%"

# DoctrineMongoDB Configuration
# see: http://symfony.com/doc/current/bundles/DoctrineMongoDBBundle/config.html
doctrine_mongodb:
    default_database: "%mongodb.default.server.db%"
    connections:
        default:
            server: "%mongodb.default.server.uri%"
            options: { connect: true }
    document_managers:
        default:
            retry_connect: 10
            retry_query: 1
            mappings:
                GravitonCoreBundle: ~
                GravitonRabbitMqBundle: ~
                GravitonI18nBundle: ~
            metadata_cache_driver:
                type: "%doctrine.odm.cache.type%"
                class: "%doctrine.odm.cache.class%"
                host: "%doctrine.odm.cache.host%"
                port: "%doctrine.odm.cache.port%"
                instance_class: "%doctrine.odm.cache.instance_class%"

# SensionFrameworkExtraBundle Configuration
# see: http://symfony.com/doc/current/bundles/SensioFrameworkExtraBundle/index.html
sensio_framework_extra:
    router:   { annotations: true }
    view:     { annotations: true }

# JmsSerializerBundle Configuration
# see: http://jmsyst.com/bundles/JMSSerializerBundle/master/configuration
jms_serializer:
    handlers:
        datetime:
            default_format: Y-m-d\TH:i:sO
            default_timezone: UTC # defaults to whatever timezone set in php.ini or via date_default_timezone_set
    metadata:
        cache: graviton.core.jms.cache.provider
        debug: "%kernel.debug%"
        file_cache:
            dir: "%kernel.cache_dir%/serializer"
        auto_detection: true

oneup_flysystem:
    adapters:
        local:
            local:
                directory: "%graviton.file.local.storage_directory%"
        s3:
            awss3v3:
                client: graviton.file.s3.client
                bucket: "%graviton.file.s3.bucket%"
                prefix: ~
                options:
                    override_visibility_on_copy: private
    filesystems:
        graviton:
            adapter: '%graviton.file.backend%'

old_sound_rabbit_mq:
    connections:
        default:
            host:     "%rabbitmq.host%"
            port:     "%rabbitmq.port%"
            user:     "%rabbitmq.user%"
            password: "%rabbitmq.password%"
            vhost:    "%rabbitmq.vhost%"
            lazy:     true
            connection_timeout: 3
            read_write_timeout: 3

            # requires php-amqplib v2.4.1+ and PHP5.4+
            keepalive: false

            # requires php-amqplib v2.4.1+
            heartbeat: 0

    producers:
        document_event:
            auto_setup_fabric: false
            class: OldSound\RabbitMqBundle\RabbitMq\Producer
            connection: default

graviton_proxy:
    sources:
        swagger: "%graviton.proxy.swagger.sources%"
        custom: "%graviton.proxy.custom.sources%"
        redirect: "%graviton.proxy.redirect.sources%"

graviton_core:
      service_name:
        - graviton.core.static.version.get
        - graviton.security.static.whoami.get
      uri_whitelist:
        - /core/version
        - /person/whoami
