imports:
    # the generated params by incenteev (env)
    - { resource: parameters.yml }
    # default values for build time parameters
    - { resource: parameters_buildtime.yml }
    # optional overrides via configured GRAVITON_MERGE_CONFIG env
    - { resource: 'parameters_buildtime.php' }
    - { resource: services.yml }


# Synfony Framework Configuation
# see http://symfony.com/doc/current/reference/configuration/framework.html
framework:
    trusted_proxies: '192.0.0.0/8,172.0.0.0/8,10.0.0.0/8'
    trusted_headers: [ 'x-forwarded-for', 'x-forwarded-host', 'x-forwarded-proto', 'x-forwarded-port', 'x-forwarded-prefix' ]
    secret: "%secret%"
    php_errors:
        log: true
    router:
        resource: "%kernel.project_dir%/app/config/routing.yml"
        utf8: true
        strict_requirements: ~
    form:
        enabled: false
    csrf_protection: false
    validation:
        enabled:              true
        enable_annotations:   false
    default_locale: "%locale%"
    trusted_hosts: ~
    fragments: ~

graviton_common:
    mongo_document_manager_service_id: doctrine_mongodb.odm.default_document_manager
    cache:
        instance_id: "%graviton.cache.instance_id%"
        redis_host: "%graviton.cache.redis.host%"
        redis_port: "%graviton.cache.redis.port%"
        redis_db: 10
        adapter_override: null
    http:
        cors:
            origins_allowed: '%security.cors.allowed_origins%'
            origins_credentials_allowed: '%security.cors.allow_credentials%'
            headers_allowed:
                - Cache-Control
                - Content-Type
                - Content-Language
                - If-None-Match
                - X-Analytics-No-Cache
                - Pragma
            headers_exposed:
                - Link
                - Accept
                - X-Requested-With
                - Content-Type
                - Origin
                - Cache-Control
                - ETag
                - Date
                - Content-Language
                - Location
                - X-Total-Count
                - X-Record-Count
                - !php/const Graviton\SchemaBundle\Constraint\VersionServiceConstraint::HEADER_NAME
            methods_allowed:
                - GET
                - POST
                - PUT
                - PATCH
                - DELETE
                - OPTIONS
    http_client:
        options:
            stream: false
            http_errors: false
            cookies: true
        verify_peer: "%graviton.core.httpclient.verifyPeer%"
        debug_requests: "%graviton.core.httpclient.debugRequests%"
        debug_max_length: "%graviton.core.httpclient.debugMaxLength%"
    deployment:
        check_package_name: "%graviton.version.self_package_name%"

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
    exception_controller: null

# DoctrineMongoDB Configuration
# see: http://symfony.com/doc/current/bundles/DoctrineMongoDBBundle/config.html
doctrine_mongodb:
    default_database: "%graviton.mongodb.default.server.db%"
    proxy_dir: "%kernel.project_dir%/src/Doctrine/Proxies"
    hydrator_dir: "%kernel.project_dir%/src/Doctrine/Hydrators"
    connections:
        default:
            server: "%graviton.mongodb.default.server.uri%"
            options: {}
    document_managers:
        default:
            auto_mapping: true
            metadata_cache_driver:
                type: "service"
                id: "graviton.common.cache.adapter.app.doctrine"


# JmsSerializerBundle Configuration
# see: http://jmsyst.com/bundles/JMSSerializerBundle/master/configuration
jms_serializer:
    handlers:
        datetime:
            default_format: Y-m-d\TH:i:sO
    property_naming:
        id: 'jms_serializer.identical_property_naming_strategy'
        separator: ''
    default_context:
        serialization:
            serialize_null: false
    metadata:
        cache: graviton.core.jms.cache.provider
        debug: "%kernel.debug%"
        auto_detection: true

oneup_flysystem:
    adapters:
        local:
            local:
                location: "%graviton.file.local.storage_directory%"
        s3:
            async_aws_s3:
                client: graviton.file.asyncs3.client
                bucket: "%graviton.file.s3.bucket%"
                prefix: ''

    filesystems:
        graviton:
            adapter: '%graviton.file.backend%'

graviton_core:
    service_name:
        - graviton.core.static.version.get
        - graviton.security.static.whoami.get
    uri_whitelist:
        - /core/version
        - /person/whoami

sentry:
    dsn: "%graviton.sentry.dsn%"
    register_error_listener: false
    tracing:
        enabled: false
    options:
        # see https://github.com/getsentry/sentry-symfony/issues/421
        ## as we cannot filter here, we disable all and enable those that we want
        default_integrations: false
        integrations:
            - 'Sentry\Integration\IgnoreErrorsIntegration'
            - 'Sentry\Integration\RequestIntegration'
            - 'Sentry\Integration\TransactionIntegration'
            - 'Sentry\Integration\FrameContextifierIntegration'
            - 'Sentry\Integration\EnvironmentIntegration'
            - 'Sentry\Integration\ModulesIntegration'
        environment: "%kernel.environment%"
