imports:
    - { resource: security.yml }
    - { resource: config.yml }
    - { resource: parameters_dev.yml }

framework:
    router:
        resource: "%kernel.project_dir%/app/config/routing_dev.yml"
        strict_requirements: true
    profiler: { only_exceptions: false }

web_profiler:
    toolbar: true
    intercept_redirects: false

monolog:
    handlers:
        main:
            type: "stream"
            path: "php://stderr"
            level: "debug"
            channels: ["!event"]
            formatter: "log_formatter"
