imports:
    - { resource: config_dev.yml }
    - { resource: "@FrameworkBundle/Resources/config/test.xml" }

parameters:
    kernel.debug: true
    graviton.rabbitmq.documenteventpublisher.class: Graviton\RabbitMqBundle\EventSubscriber\Dummy

framework:
    test: ~
    session:
        storage_id: session.storage.mock_file
    profiler:
        collect: false

web_profiler:
    toolbar: false
    intercept_redirects: false

swiftmailer:
    disable_delivery: true

monolog:
    handler:
        name: main
        type: "test"

old_sound_rabbit_mq:
    connections:
        default:
            host:     %graviton.rabbitmq.host%
            port:     %graviton.rabbitmq.port%
            user:     %graviton.rabbitmq.user%
            password: %graviton.rabbitmq.password%
            vhost:    %graviton.rabbitmq.vhost%
            lazy:     true
            connection_timeout: 3
            read_write_timeout: 3

            # requires php-amqplib v2.4.1+ and PHP5.4+
            keepalive: false

            # requires php-amqplib v2.4.1+
            heartbeat: 0
    producers:
        job:
            class: Graviton\RabbitMqBundle\Producer\Dummy
