imports:
    - { resource: parameters.yml }
    - { resource: services.yml }

parameters:
    jms_serializer.camel_case_naming_strategy.class: JMS\Serializer\Naming\IdenticalPropertyNamingStrategy
    graviton.translator.default.locale: en

# Synfony Framework Configuation
# see http://symfony.com/doc/current/reference/configuration/framework.html
framework:
    #esi:             ~
    translator:      { fallback: "%graviton.translator.default.locale%" }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            true
    csrf_protection: false
    validation:
        enabled:              true
        enable_annotations:   false

    templating:
        engines: ['twig']
        #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        name: graviton
        # handler_id set to null will use default session handler from php.ini
        handler_id:  ~
    fragments:       ~
#    http_method_override: true

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"

# Assetic Configuration
assetic:
    debug:          "%kernel.debug%"
    use_controller: false
    bundles:        [ ]
    #java: /usr/bin/java
    filters:
        cssrewrite: ~
        #closure:
        #    jar: "%kernel.root_dir%/Resources/java/compiler.jar"
        #yui_css:
        #    jar: "%kernel.root_dir%/Resources/java/yuicompressor-2.4.7.jar"

# doctrine cache configuration
doctrine_cache:
    providers:
        local:
            file_system:
                directory: "%kernel.cache_dir%/doctrine_cache"

# Doctrine Configuration
doctrine:
    dbal:
        connections:
            default:
# DoctrineMongoDB Configuration
# see: http://symfony.com/doc/current/bundles/DoctrineMongoDBBundle/config.html
doctrine_mongodb:
    default_database: "%mongodb.default.server.db%"
    connections:
        default:
            server: "%mongodb.default.server.uri%"
            options: { connect: true }
    document_managers:
        default:
            retry_connect: 3
            retry_query: 1
            mappings:
                GravitonCoreBundle: ~
                GravitonRabbitMqBundle: ~
            filters:
                softdeleteable:
                    class: Gedmo\SoftDeleteable\Filter\ODM\SoftDeleteableFilter
                    enabled: true

# StofDoctrineExtensions Configuration
# see: https://github.com/stof/StofDoctrineExtensionsBundle/blob/master/Resources/doc/index.rst
stof_doctrine_extensions:
    default-locale: "en_US"
    mongodb:
        default:
            loggable: true
            softdeleteable: true

# Swiftmailer Configuration
#swiftmailer:
#    transport: "%mailer_transport%"
#    host:      "%mailer_host%"
#    username:  "%mailer_user%"
#    password:  "%mailer_password%"
#    spool:     { type: memory }

# SensionFrameworkExtraBundle Configuration
# see: http://symfony.com/doc/current/bundles/SensioFrameworkExtraBundle/index.html
sensio_framework_extra:
    router:   { annotations: true }
    view:     { annotations: true }

# JmsSerializerBundle Configuration
# see: http://jmsyst.com/bundles/JMSSerializerBundle/master/configuration
jms_serializer:
    handlers:
        datetime:
            default_format: "Y-m-d\TH:i:sO"
            default_timezone: "UTC" # defaults to whatever timezone set in php.ini or via date_default_timezone_set
    metadata:
        # if you don't want to use auto-detection, you can also define the
        # namespace prefix and the corresponding directory explicitly
        directories:
            any-name:
                namespace_prefix: "Graviton\\CoreBundle"
                path: "@GravitonCoreBundle/Resources/config/serializer"

        # Using auto-detection, the mapping files for each bundle will be
        # expected in the Resources/config/serializer directory.
        #
        # Example:
        # class: My\FooBundle\Entity\User
        # expected path: @MyFooBundle/Resources/config/serializer/Entity.User.(yml|xml|php)
        auto_detection: true

# Exercise/HTMLPurifierBundle Configuration
# see: https://github.com/Exercise/HTMLPurifierBundle
# see: http://htmlpurifier.org/live/configdoc/plain.html
exercise_html_purifier:
    default:
        Cache.SerializerPath: '%kernel.cache_dir%/htmlpurifier'
    graviton:
        Core.Encoding: 'UTF-8'

knp_gaufrette:
    adapters:
        local:
            local:
                directory: '%kernel.root_dir%/files'
                create: true
        s3:
            aws_s3:
                service_id: 'graviton.aws_s3.client'
                bucket_name: '%graviton.aws_s3.bucket_name%'
                options:
                    create: true
    filesystems:
        file_service:
            adapter: %graviton.file.gaufrette.backend%

eo_airbrake:
        host: %graviton.errbit.host%
        api_key: %graviton.errbit.api_key%
        ignored_exceptions:
            - 'Symfony\Component\HttpKernel\Exception\HttpException'
            - 'Xiag\Rql\Parser\Exception\SyntaxErrorException'

old_sound_rabbit_mq:
    connections:
        default:
            host:     "%rabbitmq.host%"
            port:     "%rabbitmq.port%"
            user:     "%rabbitmq.user%"
            password: "%rabbitmq.password%"
            vhost:    "%rabbitmq.vhost%"
            lazy:     true
            connection_timeout: 3
            read_write_timeout: 3

            # requires php-amqplib v2.4.1+ and PHP5.4+
            keepalive: false

            # requires php-amqplib v2.4.1+
            heartbeat: 0
    producers:
        document_event:
            class: OldSound\RabbitMqBundle\RabbitMq\Producer
            connection: default
            exchange_options:
                name: graviton
                type: topic
    consumers:
        dump:
            connection: default
            exchange_options:
                name: graviton
                type: topic
            queue_options:
                routing_keys: %graviton.rabbitmq.consumer.dump.routingkeys%
            callback: graviton.rabbitmq.consumer.dump

mongo_db_migrations:
    collection_name: "migration_versions"
    database_name: "%mongodb.default.server.db%"
    dir_name: "%kernel.root_dir%/../src/Graviton/MigrationBundle/Migrations/MongoDB"
    script_dir_name: "%kernel.root_dir%/scripts"
    name: "MongoDB Migrations"
    namespace: "Graviton\MigrationBundle\Migrations\MongoDB"
