imports:
    - { resource: config_dev.yml }
    - { resource: "@FrameworkBundle/Resources/config/test.xml" }

parameters:
    kernel.debug: false
    # we shall not produce queue messages in tests
    graviton.rabbitmq.producer.job.class: Graviton\RabbitMqBundle\Producer\Dummy
    # in tests, we always use the array cache provider
    graviton.doctrine.cache.provider.service_id: doctrine_cache.providers.local
    #graviton.rabbitmq.listener.eventstatusresponselistener.class: Graviton\RabbitMqBundle\Listener\DummyResponseListener

framework:
    test: ~
    session:
        storage_id: session.storage.mock_file
    profiler:
        enabled: false
        collect: false

web_profiler:
    toolbar: false
    intercept_redirects: false

monolog:
    handler:
        name: main
        type: "test"


old_sound_rabbit_mq:
    connections:
        default:
            host:     "%graviton.rabbitmq.host%"
            port:     "%graviton.rabbitmq.port%"
            user:     "%graviton.rabbitmq.user%"
            password: "%graviton.rabbitmq.password%"
            vhost:    "%graviton.rabbitmq.vhost%"
            lazy:     true
            connection_timeout: 3
            read_write_timeout: 3

            # requires php-amqplib v2.4.1+ and PHP5.4+
            keepalive: false

            # requires php-amqplib v2.4.1+
            heartbeat: 0
    producers:
        document_event:
            class: Graviton\RabbitMqBundle\Producer\Dummy

graviton_proxy:
    sources:
        swagger:

# DoctrineMongoDB Configuration
# see: http://symfony.com/doc/current/bundles/DoctrineMongoDBBundle/config.html
doctrine_mongodb:
    default_database: "%mongodb.default.server.db%"
    connections:
        default:
            server: "%mongodb.default.server.uri%"
            options: { connect: true }
        faulty:
            server: failServer
            options: { connect: true }
    document_managers:
        default:
            retry_connect: 3
            retry_query: 1
            mappings:
                GravitonCoreBundle: ~
                GravitonRabbitMqBundle: ~
                GravitonI18nBundle: ~
            filters:
                softdeleteable:
                    class: Gedmo\SoftDeleteable\Filter\ODM\SoftDeleteableFilter
                    enabled: true
            metadata_cache_driver:
                type: array
                class: null
                host: null
                port: 0
                instance_class: null
        faulty:
            connection: faulty
            retry_connect: 3
            retry_query: 1
            mappings:
                GravitonCoreBundle: ~
                GravitonRabbitMqBundle: ~
                GravitonI18nBundle: ~
            filters:
                softdeleteable:
                    class: Gedmo\SoftDeleteable\Filter\ODM\SoftDeleteableFilter
                    enabled: true
