# this file contains the main configuration for the library
deploy-scripts:
  cf_bin: cf
  cf_process_timeout: 600
  cf_api_url: 'https://api.lyra-836.appcloud.swisscom.com'
  cf_username: ~
  cf_password: ~
  cf_org: ~
  cf_space: ~
  cf_domain: 'scapp.io'
  cf_services:
    mongodb: small
    dynstrg: usage
    rabbitmq: small
  cf_environment_vars: { "ERRBIT_API_KEY": "", "ERRBIT_HOST": "errbit.nova.scapp.io" }
