# This file is a "template" of what your parameters.yml file should look like
parameters:
    graviton.mongodb.default.server.db: db
    graviton.mongodb.default.server.uri: ~

    graviton.document.dateFormat: 'Y-m-d\TH:i:sO'
    graviton.document.timezone: 'UTC'

    graviton.log.path: "%kernel.logs_dir%/%kernel.environment%.log"
    graviton.log.level: "info"
    graviton.sentry.dsn: null
    graviton.sentry.dontReport:
        - "Symfony\\Component\\HttpKernel\\Exception\\HttpExceptionInterface"
        - "Graviton\\JsonSchemaBundle\\Exception\\ValidationException"
        - "Graviton\\RqlParser\\Exception\\SyntaxErrorException"
        - "Graviton\\AnalyticsBundle\\Exception\\AnalyticUsageException"

    # proxy settings for HttpClient and possibly more
    graviton.proxy: null
    graviton.noproxy: null

    # if set to a path, documentbundle will search this also for generated bundles
    # important: this should best be a path relative to the graviton root dir! (./app/../)
    graviton.generator.dynamicbundle.dir: null
    #graviton.generator.synthetic_fields: 'int:tenant'
    graviton.generator.synthetic_fields: null
    #graviton.generator.ensure_indexes: hans,test2
    graviton.generator.ensure_indexes: null

    # which serializer groups should be (de)serialized on this instance
    graviton.rest.serializer.groups: null
    # if true, then the 'x-groups' header can override the serialized groups
    graviton.rest.serializer.allow_group_override_header: false
    graviton.rest.serializer.override_header_name: x-groups
    graviton.rest.schema_variation.enable: false

    # a map that can specify optional data restriction from incoming requests to the database
    # example:
    #graviton.rest.data_restriction.map:
    #    x-graviton-tenant: "int:tenant"
    graviton.rest.data_restriction.map: []

    graviton.jmespath.cache_dir: "%kernel.cache_dir%/jmespath"

    # security related parameters
    graviton.security.authentication.allow_anonymous: true
    graviton.security.authentication.test_username: false
    graviton.security.authentication.strategy: graviton.security.authentication.strategy.header
    graviton.security.authentication.strategy.cookie.key: graviton_user
    graviton.security.authentication.strategy.subnet.key: 127.0.0.0/24
    graviton.security.authentication.strategy.subnet.header_field: x-graviton-authentication
    graviton.security.authentication.strategy.header.key: graviton_user

    # If strategy multi then define which strategies to be used. Will be compiled
    graviton.security.authentication.strategy.multi.services:
      - graviton.security.authentication.strategy.subnet
      - graviton.security.authentication.strategy.cookie
      - graviton.security.authentication.strategy.header

    graviton.security.authentication.provider.model: graviton.security.authentication.provider.model.noop
    graviton.security.authentication.provider.model.query_field: false

    graviton.security.services.whitelist: {}
    graviton.rest.special_mimetypes: {}

    graviton.analytics.cache_time.metadata: 10

    # may be either 'local' or any oher defined in oneup_flysystem.adapters.* in config.yml
    graviton.file.backend: local

    # Add full qualified type, application/pdf, image/jpeg...
    graviton.file.allowed.mime_types: []
    graviton.file.read_filesystem_mimetype: true

    graviton.file.local.storage_directory: "%kernel.root_dir%/files"

    graviton.file.s3.endpoint: null
    graviton.file.s3.version: latest
    graviton.file.s3.region: us-east-1
    graviton.file.s3.bucket: graviton
    graviton.file.s3.credentials.key: null
    graviton.file.s3.credentials.secret: null

    graviton.core.httpclient.debugRequests: false
    graviton.core.httpclient.debugMaxLength: 5000
    graviton.core.httpclient.verifyPeer: false

    graviton.translator.default.locale: en
    graviton.translator.cache_name_depth: 3

    # optional url to a solr instance for improved search
    graviton.solr.url: null
    # how many characters does a search term need to make it fuzzy?
    graviton.solr.fuzzy_bridge: 5
    # how many characters does a search term need to make it wildcard?
    graviton.solr.wildcard_bridge: 3
    # if the terms should ANDed together or not
    graviton.solr.andify_terms: true

    graviton.router.host: null
    graviton.router.port_http: null
    graviton.router.port_https: null

    # service info injected by cloudfoundry
    vcap.services: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # rabbitmq config
    graviton.rabbitmq.host: localhost
    graviton.rabbitmq.port: 5672
    graviton.rabbitmq.user: guest
    graviton.rabbitmq.password: guest
    graviton.rabbitmq.vhost: /
    graviton.rabbitmq.consumer.dump.routingkeys:
        - 'document.#'

    graviton.worker.relativeUrl: null

    # pagination defaults
    graviton.rest.pagination.limit: 10

    # how to call composer on this machine
    graviton.composer.cmd: composer

    # how to call git on this machine
    graviton.git.cmd: git

    graviton.proxy.swagger.sources: {}
    graviton.proxy.custom.sources: {}
    graviton.proxy.redirect.sources: {}

    graviton.writelock.randomwaiturls:
      - /event/status

    # caching related settings
    # doctrine_cache (*not* odm) caching service that should be used - used by our own components!
    # for redis use:
    #    graviton.cache.provider.service_id: graviton.cache.provider.redis

    # this is the service that should be distributed when using multiple replicas
    graviton.cache.provider.service_id: graviton.cache.provider.local
    # this should always point to a local cache adapter for performance reasons
    graviton.cache.provider.service_id_local: graviton.cache.provider.local
    graviton.cache.redis.host: localhost
    graviton.cache.redis.port: 6379

