# This file is a "template" of what your parameters.yml file should look like
parameters:
    graviton.mongodb.default.server.db: db
    graviton.mongodb.default.server.uri: ~

    # Dependency injection in Security Bundle
    graviton.security.authentication.header_required: false
    graviton.security.authentication.test_username: false
    graviton.security.authentication.allow_anonymous: true
    graviton.security.authentication.strategy: graviton.security.authentication.strategy.cookie
    graviton.security.authentication.strategy_key: graviton_user

    graviton.security.authentication.provider.model: graviton.security.authentication.provider.model.noop
    graviton.security.authentication.provider.model.query_field: false

    graviton.security.query.filter_by_user: false
    graviton.security.query.filter_by_field: 'consultant.$id'

    graviton.security.services.whitelist: {}
    graviton.rest.special_mimetypes: {}

    graviton.router.host: null
    graviton.router.port_http: null
    graviton.router.port_https: null

    graviton.security.oauth.github.client_id: ~
    graviton.security.oauth.github.client_secret: ~

    # service info injected by cloudfoundry
    vcap.services: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # may be either local or s3
    graviton.file.backend: local

    # grab these from cf env <machine-name> on a machine that has s3 added as a service
    graviton.file.s3.endpoint: ~
    graviton.file.s3.key: ~
    graviton.file.s3.secret: ~
    graviton.file.s3.bucket_name: graviton-dev-bucket

    # errbit config
    graviton.errbit.api_key: ~
    graviton.errbit.host: ~

    # rabbitmq config
    graviton.rabbitmq.host: localhost
    graviton.rabbitmq.port: 5672
    graviton.rabbitmq.user: guest
    graviton.rabbitmq.password: guest
    graviton.rabbitmq.vhost: /
    graviton.rabbitmq.consumer.dump.routingkeys:
        - 'document.#'
    # pagination defaults
    graviton.rest.pagination.limit: 10
    
    # how to call composer on this machine
    graviton.composer.cmd: composer

    graviton.proxy.httploader.curloptions: []

    graviton.proxy.swagger.sources: {}
