# This file is a "template" of what your parameters.yml file should look like
parameters:
    graviton.mongodb.default.server.db: db
    graviton.mongodb.default.server.uri: ~

    graviton.security.authentication.strategy: graviton.security.authentication.strategy.cookie
    graviton.authentication.user_provider.model: ~
    graviton.security.services.whitelist: {}
    graviton.rest.special_mimetypes: {}

    graviton.security.oauth.github.client_id: ~
    graviton.security.oauth.github.client_secret: ~

    # service info injected by cloudfoundry
    vcap.services: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # may be either local or s3
    graviton.file.backend: local

    # grab these from cf env <machine-name> on a machine that has s3 added as a service
    graviton.file.s3.endpoint: ~
    graviton.file.s3.key: ~
    graviton.file.s3.secret: ~
    graviton.file.s3.bucket_name: graviton-dev-bucket

    # errbit config
    graviton.errbit.api_key: ~
    graviton.errbit.host: ~

    # rabbitmq config
    graviton.rabbitmq.host: localhost
    graviton.rabbitmq.port: 5672
    graviton.rabbitmq.user: guest
    graviton.rabbitmq.password: guest
    graviton.rabbitmq.vhost: /
