parameters:
  graviton.schema.listener.canonicalschemaresponse.class: Graviton\SchemaBundle\Listener\CanonicalSchemaLinkResponseListener
  graviton.schema.model.schemamodel.class: Graviton\SchemaBundle\Model\SchemaModel
  graviton.schema.service.schemautils.class: Graviton\SchemaBundle\SchemaUtils
  graviton.schema.service.repositoryfactory.class: Graviton\SchemaBundle\Service\RepositoryFactory
  graviton.schema.constraint.builder.class: Graviton\SchemaBundle\Constraint\ConstraintBuilder
  graviton.schema.constraint.utils.class: Graviton\SchemaBundle\Constraint\ConstraintUtils
  graviton.schema.constraint.incrementaldate.class: Graviton\SchemaBundle\Constraint\IncrementalDateFieldConstraint
  graviton.schema.constraint.readonlyfield.class: Graviton\SchemaBundle\Constraint\ReadOnlyFieldConstraint
  graviton.schema.constraint.versionservice.class: Graviton\SchemaBundle\Constraint\VersionServiceConstraint
  graviton.schema.constraint.recordorigin.class: Graviton\SchemaBundle\Constraint\RecordOriginConstraint
  graviton.schema.serializer.handler.additionalproperties.class: Graviton\SchemaBundle\Serializer\Handler\SchemaAdditionalPropertiesHandler
  graviton.schema.serializer.handler.type.class: Graviton\SchemaBundle\Serializer\Handler\SchemaTypeHandler
  graviton.schema.serializer.handler.enum.class: Graviton\SchemaBundle\Serializer\Handler\SchemaEnumHandler

services:
    graviton.schema.listener.canonicalschemaresponse:
        class: "%graviton.schema.listener.canonicalschemaresponse.class%"
        arguments:
          - "@router"
        tags:
          -
            name: kernel.event_listener
            event: kernel.response
            method: onKernelResponse

    graviton.schema.model.schemamodel:
        abstract: true
        class: "%graviton.schema.model.schemamodel.class%"
        calls:
          -
            method: setContainer
            arguments:
              - "@service_container"

    graviton.schema.service.repositoryfactory:
        class: "%graviton.schema.service.repositoryfactory.class%"
        arguments:
          - "@doctrine_mongodb"

    graviton.schema.serializer.handler.additionalproperties:
        class: "%graviton.schema.serializer.handler.additionalproperties.class%"
        tags:
          -
            name: jms_serializer.handler
            type: Graviton\SchemaBundle\Document\SchemaAdditionalProperties
            format: json

    graviton.schema.serializer.handler.type:
        class: "%graviton.schema.serializer.handler.type.class%"
        tags:
          -
            name: jms_serializer.handler
            type: Graviton\SchemaBundle\Document\SchemaType
            format: json

    graviton.schema.serializer.handler.enum:
        class: "%graviton.schema.serializer.handler.enum.class%"
        tags:
          -
            name: jms_serializer.handler
            type: Graviton\SchemaBundle\Document\SchemaEnum
            format: json

    # constraints
    graviton.schema.constraint.choice:
      class: Graviton\SchemaBundle\Constraint\Builder\ChoiceConstraintBuilder
    graviton.schema.constraint.email:
      class: Graviton\SchemaBundle\Constraint\Builder\EmailConstraintBuilder
    graviton.schema.constraint.url:
      class: Graviton\SchemaBundle\Constraint\Builder\UrlConstraintBuilder
    graviton.schema.constraint.range:
      class: Graviton\SchemaBundle\Constraint\Builder\RangeConstraintBuilder
    graviton.schema.constraint.decimal:
      class: Graviton\SchemaBundle\Constraint\Builder\DecimalConstraintBuilder
    graviton.schema.constraint.count:
      class: Graviton\SchemaBundle\Constraint\Builder\CountConstraintBuilder
    graviton.schema.constraint.empty:
      class: Graviton\SchemaBundle\Constraint\Builder\EmptyConstraintBuilder

    # constraint builder -->
    graviton.schema.constraint.builder:
        class: "%graviton.schema.constraint.builder.class%"
        calls:
          -
            method: addConstraintBuilder
            arguments:
              - "@graviton.schema.constraint.choice"
          -
            method: addConstraintBuilder
            arguments:
              - "@graviton.schema.constraint.email"
          -
            method: addConstraintBuilder
            arguments:
              - "@graviton.schema.constraint.url"
          -
            method: addConstraintBuilder
            arguments:
              - "@graviton.schema.constraint.range"
          -
            method: addConstraintBuilder
            arguments:
              - "@graviton.schema.constraint.decimal"
          -
            method: addConstraintBuilder
            arguments:
              - "@graviton.schema.constraint.count"
          -
            method: addConstraintBuilder
            arguments:
              - "@graviton.schema.constraint.empty"

    graviton.schema.constraint.utils:
        class: "%graviton.schema.constraint.utils.class%"
        arguments:
          - "@doctrine_mongodb.odm.default_document_manager"
          - "@graviton.rest.restutils"
          - "@request_stack"
        tags:
          -
            name: kernel.event_listener
            event: graviton.json_schema.constraint.schema
            method: onSchemaValidation
            priority: 999

    graviton.schema.utils:
        class: "%graviton.schema.service.schemautils.class%"
        arguments:
          - "@graviton.schema.service.repositoryfactory"
          - "@jms_serializer.metadata_factory"
          - "@router"
          - "@jms_serializer"
          - "%graviton.document.type.extref.mapping%"
          - "%graviton.document.eventmap%"
          - "%graviton.document.visible_field.names%"
          - "%graviton.rest.schema_variation.enable%"
          - "@graviton.schema.constraint.builder"
          - "@graviton.cache.adapter.app"
          - "@graviton.core.service.jmespath"
          - "@graviton.18n.utils"

    graviton.schema.constraint.incrementaldate:
        class: "%graviton.schema.constraint.incrementaldate.class%"
        arguments:
          - "@graviton.schema.constraint.utils"
        tags:
          -
            name: kernel.event_listener
            event: graviton.json_schema.constraint.format
            method: checkIncrementalDate

    graviton.schema.constraint.readonlyfield:
        class: "%graviton.schema.constraint.readonlyfield.class%"
        arguments:
          - "@graviton.schema.constraint.utils"
          - "%graviton.document.readonly.fields%"
        tags:
          -
            name: kernel.event_listener
            event: graviton.json_schema.constraint.schema
            method: checkReadOnlyFields

    graviton.schema.constraint.versionservice:
        class: "%graviton.schema.constraint.versionservice.class%"
        arguments:
          - "@graviton.schema.constraint.utils"
        tags:
          -
            name: kernel.event_listener
            event: graviton.json_schema.constraint.schema
            method: checkVersionField
          -
            name: kernel.event_listener
            event: kernel.response
            method: setCurrentVersionHeader

    graviton.schema.constraint.recordorigin:
        class: "%graviton.schema.constraint.recordorigin.class%"
        arguments:
          - "@graviton.schema.constraint.utils"
          - recordOrigin
          - "%graviton.rest.not_modifiable.origin.records%"
          - "%graviton.document.recordoriginexception.fields%"
        tags:
          -
            name: kernel.event_listener
            event: graviton.json_schema.constraint.schema
            method: checkRecordOrigin

