<?xml version="1.0" encoding="UTF-8"?>
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:jms-serializer="jms_serializer">

    <parameters>
        <!-- this is the name of the mongo collection that is searched for bundle definitions -->
        <parameter key="generator.dynamicbundles.mongocollection"></parameter>
        <!-- you can supply a custom json object in order to find specific documents -->
        <parameter key="generator.dynamicbundles.mongocollection.criteria">
            <![CDATA[
            {}
            ]]>
        </parameter>
    </parameters>

    <jms-serializer:config>
        <jms-serializer:metadata debug="%kernel.debug%" auto-detection="true">
            <jms-serializer:directory
                    namespace_prefix="Graviton\GeneratorBundle"
                    path="@GravitonGeneratorBundle/Resources/config/serializer"/>
        </jms-serializer:metadata>
    </jms-serializer:config>
</container>
