<?xml version="1.0" encoding="UTF-8" ?>
<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:framework="http://symfony.com/schema/dic/symfony"
    xmlns:doctrine_mongodb="http://symfony.com/schema/dic/doctrine/odm/mongodb"
    xmlns:doctrine_extensions="http://example.org/schema/dic/stof_doctrine_extensions"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

</container>
