<?xml version="1.0" encoding="UTF-8"?>
<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:doctrine="http://symfony.com/schema/dic/doctrine"
    xmlns:doctrine_mongodb="http://symfony.com/schema/dic/doctrine/odm/mongodb"
    xmlns:doctrine_extensions="http://example.org/schema/dic/stof_doctrine_extensions"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
  <parameters>
    <parameter key="mongodb.default.server.uri">mongodb://localhost:27017</parameter>	    
    <parameter key="mongodb.default.server.db">default</parameter>	    
  </parameters>
  <doctrine:config>
    <doctrine:dbal default-connection="default"/>
    <doctrine:orm default-entity-manager="default"/>
  </doctrine:config>
  <doctrine_mongodb:config default-database="%mongodb.default.server.db%">
    <doctrine_mongodb:document-manager id="default" database="%mongodb.default.server.db%">
    </doctrine_mongodb:document-manager>
    <doctrine_mongodb:connection id="default" server="%mongodb.default.server.uri%">
      <doctrine_mongodb:options>
        <doctrine_mongodb:connect>true</doctrine_mongodb:connect>
      </doctrine_mongodb:options>
    </doctrine_mongodb:connection>
  </doctrine_mongodb:config>
  <doctrine_extensions:config default-locale="en_US">
    <doctrine_extensions:mongodb>
      <doctrine_extensions:document-manager id="default" loggable="true"/>
    </doctrine_extensions:mongodb>
  </doctrine_extensions:config>
</container>
