parameters:
  graviton.document.service.extrefconverter.class: Graviton\DocumentBundle\Service\ExtReferenceConverter
  graviton.document.service.dateconverter.class: Graviton\DocumentBundle\Service\DateConverter
  graviton.document.service.collectioncache.class: Graviton\DocumentBundle\Service\CollectionCache
  graviton.document.service.solrquery.class: Graviton\DocumentBundle\Service\SolrQuery
  graviton.document.service.solrquery.client.class: Solarium\Core\Client\Client
  graviton.document.service.solrquery.client.adapter.class: Solarium\Core\Client\Adapter\Curl
  graviton.document.listener.extreferencesearchlistener.class: Graviton\DocumentBundle\Listener\ExtReferenceSearchListener
  graviton.document.listener.rqlsearch.class: Graviton\DocumentBundle\Listener\RqlSearchNodeListener
  graviton.document.listener.fieldnamesearchlistener.class: Graviton\DocumentBundle\Listener\FieldNameSearchListener
  graviton.document.listener.documentversionlistener.class: Graviton\DocumentBundle\Listener\DocumentVersionListener
  graviton.document.serializer.handler.hash.class: Graviton\DocumentBundle\Serializer\Handler\HashHandler
  graviton.document.serializer.handler.extref.class: Graviton\DocumentBundle\Serializer\Handler\ExtReferenceHandler
  graviton.document.serializer.handler.date.class: Graviton\DocumentBundle\Serializer\Handler\DateHandler
  graviton.document.serializer.visitor.jsonserialization.class: Graviton\DocumentBundle\Serializer\Visitor\JsonSerializationVisitorFactory
  graviton.document.serializer.visitor.jsondeserialization.class: Graviton\DocumentBundle\Serializer\Visitor\JsonDeserializationVisitorFactory
  graviton.document.serializer.subscriber.doctrineproxy.class: Graviton\DocumentBundle\Serializer\Subscriber\DoctrineProxySubscriber

services:
  graviton.document.service.extrefconverter:
    class: "%graviton.document.service.extrefconverter.class%"
    public: true
    arguments:
      - "@router"
      - "%graviton.document.type.extref.mapping%"

  graviton.document.service.dateconverter:
    class: "%graviton.document.service.dateconverter.class%"
    public: true
    arguments:
      - "%graviton.document.dateFormat%"
      - "%graviton.document.timezone%"

  graviton.document.service.solrquery:
    class: "%graviton.document.service.solrquery.class%"
    public: true
    arguments:
      - "@logger"
      - "%graviton.solr.url%"
      - "%graviton.solr.fuzzy_bridge%"
      - "%graviton.solr.wildcard_bridge%"
      - "%graviton.solr.literal_bridge%"
      - "%graviton.solr.andify_terms%"
      - "%graviton.document.solr.map%"
      - "%graviton.document.solr.extra_params%"
      - "%graviton.rest.pagination.limit%"
      - "@graviton.document.service.solrquery.client"
      - "@request_stack"

  graviton.document.service.solrquery.client:
    class: "%graviton.document.service.solrquery.client.class%"
    public: true
    arguments:
      - "@graviton.document.service.solrquery.client.adapter"
      - "@event_dispatcher"

  graviton.document.service.solrquery.client.adapter:
    class: "%graviton.document.service.solrquery.client.adapter.class%"

  graviton.document.serializer.visitor.jsonserialization:
    class: "%graviton.document.serializer.visitor.jsonserialization.class%"
    public: true
    tags:
      - name: jms_serializer.serialization_visitor
        format: json

  graviton.document.serializer.visitor.jsondeserialization:
    class: "%graviton.document.serializer.visitor.jsondeserialization.class%"
    public: true
    tags:
      - name: jms_serializer.deserialization_visitor
        format: json

  graviton.document.listener.documentversion:
    class: "%graviton.document.listener.documentversionlistener.class%"
    arguments:
      - "@doctrine_mongodb.odm.default_document_manager"
      - "@graviton.schema.constraint.versionservice"
    tags:
      - name: kernel.event_listener
        event: document.model.event.insert
        method: modelInsert
      - name: kernel.event_listener
        event: document.model.event.update
        method: modelUpdate

  graviton.document.listener.extreferencesearchlistener:
    class: "%graviton.document.listener.extreferencesearchlistener.class%"
    arguments:
      - "@graviton.document.service.extrefconverter"
      - "%graviton.document.extref.fields%"
    tags:
      - name: kernel.event_listener
        event: rql.visit.node
        method: onVisitNode
        priority: 2

  graviton.document.listener.rqlsearch:
    class: "%graviton.document.listener.rqlsearch.class%"
    arguments:
      - "@graviton.document.service.solrquery"
    tags:
      - name: kernel.event_listener
        event: rql.visit.node
        method: onVisitNode
        priority: 3
      - name: kernel.event_listener
        event: rql.visit.post
        method: onVisitPost
        priority: 10

  graviton.document.listener.fieldnamesearchlistener:
    class: "%graviton.document.listener.fieldnamesearchlistener.class%"
    public: true
    arguments:
      - "%graviton.document.rql.fields%"
    tags:
      - name: kernel.event_listener
        event: rql.visit.node
        method: onVisitNode
        priority: 1

  graviton.document.serializer.handler.hash:
    class: "%graviton.document.serializer.handler.hash.class%"
    public: true
    arguments:
      - "@request_stack"
    tags:
      - name: jms_serializer.handler
        type: Graviton\DocumentBundle\Entity\Hash
        format: json

  graviton.document.serializer.handler.extref:
    class: "%graviton.document.serializer.handler.extref.class%"
    public: true
    arguments:
      - "@graviton.document.service.extrefconverter"
    tags:
      - name: jms_serializer.handler
        type: Graviton\DocumentBundle\Entity\ExtReference
        format: json
      - name: kernel.event_listener
        event: graviton.json_schema.constraint.format
        method: validateExtRef

  graviton.document.serializer.handler.date:
    class: "%graviton.document.serializer.handler.date.class%"
    public: true
    arguments:
      - "@graviton.document.service.dateconverter"
    tags:
      - name: jms_serializer.subscribing_handler

  graviton.document.serializer.subscriber.doctrineproxy:
    class: "%graviton.document.serializer.subscriber.doctrineproxy.class%"
    tags:
      - name: jms_serializer.event_subscriber
        type: Graviton\DocumentBundle\Entity\ExtReference
        format: json
