services:

  Graviton\SecurityBundle\Authenticator\UserHeaderAuthenticator:
    arguments:
      - "@logger"
      - "%graviton.security.authentication.strategy.header.key%"
      - "%graviton.security.authentication.allow_anonymous%"

  Graviton\SecurityBundle\Authenticator\SameSubnetAuthenticator:
    arguments:
      - "%graviton.security.authentication.strategy.subnet.key%"
      - "%graviton.security.authentication.strategy.subnet.header_field%"

  # provider
  Graviton\SecurityBundle\Authentication\UserProvider:

  graviton.security.authentication.provider.model.noop:
    class: Graviton\SecurityBundle\User\Model\NullModel
    public: true
    calls:
      -
        method: setRepository
        arguments:
          - "@graviton.core.repository.dummy"

  graviton.security.controller.whoami:
    class: Graviton\SecurityBundle\Controller\WhoAmIController
    parent: graviton.rest.controller
    public: true
    calls:
      -
        method: setModel
        arguments:
          - "@=service(parameter('graviton.security.authentication.provider.model'))"
      -
        method: setQueryField
        arguments:
          - "%graviton.security.authentication.provider.model.query_field%"


  #
  #  Service Security Utils
  #
  graviton.security.service.utils:
    class: Graviton\SecurityBundle\Service\SecurityUtils
    public: true
    arguments:
      - "@security.token_storage"
      - "@request_stack"
      - "%graviton.rest.data_restriction.map.compiled%"
      - "%graviton.rest.data_restriction.mode%"

