<?xml version="1.0" encoding="UTF-8"?>
<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jms_serializer="jms_serializer"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
  <jms_serializer:config>
    <tag name="jms_serializer.handler"
         type="DateTime"
         direction="serialization"
         format="json"
         method="serializeDateTimeToJsonUgh"/>
  </jms_serializer:config>
</container>
