parameters:
  graviton.rest.routing.loader.class: Graviton\RestBundle\Routing\Loader\BasicLoader
  graviton.rest.routing.collection.class: Symfony\Component\Routing\RouteCollection
  graviton.rest.listener.linkheaderresponselistener.class: Graviton\RestBundle\Listener\LinkHeaderResponseListener
  graviton.rest.response.class: Graviton\RestBundle\HttpFoundation\Response
  graviton.rest.request.class: Symfony\Component\HttpFoundation\Request
  graviton.rest.listener.xversionresponselistener.class: Graviton\RestBundle\Listener\XVersionResponseListener
  graviton.rest.listener.rqlqueryrequestlistener.class: Graviton\RestBundle\Listener\RqlQueryRequestListener
  graviton.rest.listener.rqlallowedoperatorrequestlistener.class: Graviton\RestBundle\Listener\RqlAllowedOperatorRequestListener
  graviton.rest.listener.restriction.class: Graviton\RestBundle\Listener\RestrictionListener
  graviton.rest.event.subscriber.class: Graviton\RestBundle\Subscriber\RestEventSubscriber
  graviton.rest.model.documentmodel.class: Graviton\RestBundle\Model\DocumentModel
  graviton.rest.serializer.context.abstract.class: Graviton\RestBundle\Serializer\ContextFactoryAbstract
  graviton.rest.serializer.serializercontext.factory.class: Graviton\RestBundle\Serializer\SerializationContextFactory
  graviton.rest.services: []
  graviton.rest.listener.rqlqueryrequestlistener.allowedroutes: []
  graviton.rest.not_modifiable.origin.records:
    - "core"

services:

    graviton.rest.serializer:
        parent: "jms_serializer"
        public: true
        arguments:
            index_4: "@graviton.rest.serializer.serializercontext.factory"

    graviton.rest.serializer.serializercontext.factory:
        parent: "graviton.rest.serializer.context.abstract"
        class: "%graviton.rest.serializer.serializercontext.factory.class%"

    graviton.rest.serializer.context.abstract:
        class: "%graviton.rest.serializer.context.abstract.class%"
        calls:
          -
            method: setSetSerializeNull
            arguments:
              - false
          -
            method: setRequestStack
            arguments:
              - "@request_stack"
          -
            method: setGroups
            arguments:
              - "%graviton.rest.serializer.groups%"
          -
            method: setOverrideHeaderName
            arguments:
              - "%graviton.rest.serializer.override_header_name%"
          -
            method: setOverrideHeaderAllowed
            arguments:
              - "%graviton.rest.serializer.allow_group_override_header%"

    graviton.rest.router:
        alias: router

    #### abstract service for dynamic services rest listeners (than can react to rest events)
    graviton.rest.listener.abstract:
        abstract: true
        arguments:
          - "@logger"
          - "@request_stack"
          - "@doctrine_mongodb.odm.default_document_manager"

    ######### PRE SHIPPED REST LISTENER ABSTRACT SERVICES -> here we use class names as service names
    Graviton\RestBundle\RestListener\ConditionalRestrictionPersisterListener:
        parent: graviton.rest.listener.abstract
        class: Graviton\RestBundle\RestListener\ConditionalRestrictionPersisterListener
        abstract: true
        calls:
          - method: setRestrictionPersistMap
            arguments:
              - "%graviton.rest.data_restriction.conditional.persist.map.compiled%"
          - method: setPersistRestrictions
            arguments:
              - "%graviton.rest.data_restriction.persist%"
          - method: setSecurityUtils
            arguments:
              - "@graviton.security.service.utils"
    Graviton\RestBundle\RestListener\WhoamiRestrictionListener:
        parent: graviton.rest.listener.abstract
        class: Graviton\RestBundle\RestListener\WhoamiRestrictionListener
        abstract: true
        calls:
          - method: setSecurityUtils
            arguments:
              - "@graviton.security.service.utils"
    Graviton\RestBundle\RestListener\ValueInitializerListener:
      parent: graviton.rest.listener.abstract
      class: Graviton\RestBundle\RestListener\ValueInitializerListener

    #Routing -->
    #Routing collection -->
    graviton.rest.routing.collection:
        class: "%graviton.rest.routing.collection.class%"

    #Routing loader -->
    graviton.rest.routing.loader:
        class: "%graviton.rest.routing.loader.class%"
        public: true
        arguments:
          - "@graviton.rest.routing.collection"
          - "%graviton.rest.services%"
        tags:
          -
            name: "graviton.routing.loader"

    #Service for validating JSON Patches -->
    graviton.rest.service.jsonpatchvalidator:
        class: Graviton\RestBundle\Service\JsonPatchValidator

    #Controller -->
    graviton.rest.controller:
        abstract: true
        public: true
        arguments:
          - "@graviton.rest.response"
          - "@graviton.rest.restutils"
          - "@graviton.rest.router"
          - "@service_container"
          - "@graviton.schema.utils"
          - "@graviton.rest.service.jsonpatchvalidator"
          - "@graviton.security.service.utils"
        calls:
          -
            method: setLogger
            arguments:
              - "@logger"

    #Model -->
    graviton.rest.model:
        abstract: true
        class: "%graviton.rest.model.documentmodel.class%"
        parent: "graviton.schema.model.schemamodel"
        calls:
          - method: setQueryService
            arguments: ['@graviton.rest.service.query']
          - method: setEventDispatcher
            arguments: ['@event_dispatcher']
          - method: setNotModifiableOriginRecords
            arguments: ['%graviton.rest.not_modifiable.origin.records%']
          - method: setRestUtils
            arguments: ['@graviton.rest.restutils']
          - method: setSecurityUtils
            arguments: ['@graviton.security.service.utils']

    # query service -->
    graviton.rest.service.query:
        class: Graviton\RestBundle\Service\QueryService
        arguments:
          - "@logger"
          - "@graviton.rql.visitor.mongodb"
          - "%graviton.rest.pagination.limit%"
          - "@event_dispatcher"
          - "%graviton.rest.calculate_total_record_count%"
          - "%graviton.rest.total_count_enable_header_name%"

    #Response object wrapper with scope request (get a new one for each request) -->
    graviton.rest.response:
        class: "%graviton.rest.response.class%"

    #Json Request listener -->
    graviton.rest.listener.writelocklistener:
        class: Graviton\RestBundle\Listener\WriteLockListener
        arguments:
          - "@logger"
          - "@request_stack"
          - "@graviton.cache.adapter.app"
          - "%graviton.writelock.randomwaiturls%"
        tags:
          -
            name: kernel.event_listener
            event: kernel.controller
            priority: 9999
            method: onKernelController
          -
            name: kernel.event_listener
            event: kernel.response
            priority: 9999
            method: onKernelResponse
          -
            name: kernel.event_listener
            event: kernel.exception
            priority: 9999
            method: onKernelException

    #Json Request listener -->
    graviton.rest.listener.jsonrequestlistener:
        class: Graviton\RestBundle\Listener\JsonRequestListener
        tags:
          -
            name: kernel.event_listener
            event: graviton.rest.request
            method: onKernelRequest

    #Allowed RQL operator listener -->
    graviton.rest.listener.rqlallowedoperatorrequestlistener:
        class: "%graviton.rest.listener.rqlallowedoperatorrequestlistener.class%"
        tags:
          -
            name: kernel.event_listener
            event: graviton.rest.request
            method: onKernelRequest

    #restUtils service - a service providing some helpers dealing with services -->
    graviton.rest.restutils:
        class: Graviton\RestBundle\Service\RestUtils
        public: true
        arguments:
          - "@service_container"
          - "@router"
          - "@graviton.rest.serializer"
          - "@logger"
          - "@graviton.schema.utils"
          - "@graviton.jsonschema.validator"
          - "@graviton.cache.adapter.app"

    #Graviton rest event stuff -->
    #Rest event with scope prototype (get e new event object, every time you get it from the container) -->
    graviton.rest.event:
        class: Graviton\RestBundle\Event\RestEvent
        shared: false

    graviton.rest.event.subscriber:
        class: "%graviton.rest.event.subscriber.class%"
        arguments:
          - "@graviton.rest.response"
          - "@graviton.rest.event"
          - "@service_container"
        tags:
          -
            name: kernel.event_subscriber

    #Graviton rest event listeners -->
    #Paging listener -->
    graviton.rest.listener.linkheaderresponselistener:
        class: "%graviton.rest.listener.linkheaderresponselistener.class%"
        arguments:
          - "@router"
        tags:
          -
            name: kernel.event_listener
            event: graviton.rest.response
            method: onKernelResponse

    #X-Version response listener -->
    graviton.rest.listener.xversionresponselistener:
        class: "%graviton.rest.listener.xversionresponselistener.class%"
        arguments:
          - "%graviton.core.version.header%"
        tags:
          -
            name: kernel.event_listener
            event: graviton.rest.response
            method: onKernelResponse

    #RQL query listener (see RqlQueryDecoratorCompilerPass) -->
    graviton.rest.listener.rqlqueryrequestlistener:
        class: "%graviton.rest.listener.rqlqueryrequestlistener.class%"
        decorates: graviton.rql.listener.request
        decoration_inner_name: graviton.rest.listener.rqlqueryrequestlistener.inner
        arguments:
          - "@graviton.rest.listener.rqlqueryrequestlistener.inner"
          - "%graviton.rest.listener.rqlqueryrequestlistener.allowedroutes%"

    # listener that restricts the data given to the user by manipulating the querybuilder before executing
    graviton.rest.listener.restriction:
      class: "%graviton.rest.listener.restriction.class%"
      arguments:
        - "@logger"
        - "@graviton.security.service.utils"
        - "@request_stack"
        - "%graviton.rest.data_restriction.persist%"
        - "%graviton.rest.data_restriction.solr%"
      tags:
        - name: kernel.event_listener
          event: document.model.event.query
          method: onModelQuery
        - name: kernel.event_listener
          event: document.model.event.entity.pre_persist
          method: onEntityPrePersistOrDelete
        - name: kernel.event_listener
          event: document.model.event.entity.pre_delete
          method: onEntityPrePersistOrDelete
        - name: kernel.event_listener
          event: analytics.event.pre_aggregate
          method: onPreAggregate
        - name: kernel.event_listener
          event: rql.visit.node
          method: onRqlSearch
          priority: -100

  # fixtures
    Graviton\RestBundle\DataFixtures\MongoDB\LoadRestrictionListenerTestData:
      class: Graviton\RestBundle\DataFixtures\MongoDB\LoadRestrictionListenerTestData
      tags:
        - { name: 'doctrine.fixture.orm' }
