graviton.core.static.main.all:
    path: /
    methods: [GET]
    defaults: { _controller: graviton.core.controller.main:indexAction }

graviton.core.static.main.options:
    path: /
    methods: [OPTIONS]
    defaults: { _controller: graviton.core.controller.main:optionsAction }

graviton.core.static.version.get:
    path: /core/version
    methods: [GET]
    defaults: { _controller: graviton.core.controller.version:versionsAction }

graviton.core.static.version.options:
    path: /core/version
    methods: [OPTIONS]
    defaults: { _controller: graviton.core.controller.version:optionsAction }

graviton.core.static.version.canonicalSchema:
    path: /schema/core/version
    methods: [GET]
    defaults: { _controller: graviton.core.controller.version:versionsSchemaAction }

graviton.core.static.version.canonicalSchema.options:
    path: /schema/core/version
    methods: [OPTIONS]
    defaults: { _controller: graviton.core.controller.version:optionsAction }

